<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Profil</title>
</head>
<body>
<h1>Bienvenue, {{ user.username }}!</h1>
<p>Email : {{ user.email }}</p>
<p>Nom d'utilisateur : {{ user.username }}</p>
<h2>Actions :</h2>
<ul>
    <li><a href="{% url 'upload_cv' %}">Télécharger un CV</a></li>
    <li><a href="{% url 'cv_list' %}">Voir la liste des CVs</a></li>
    <li><a href="{% url 'search_cvs' %}">Rechercher</a></li>
    {% if user.is_superuser %}
    <a href="{% url 'download_all_cvs' %}" class="btn btn-primary">Télécharger tous les CVs</a>
    {% endif %}
</ul>
<a href="{% url 'signout' %}">Se déconnecter</a>
</body>
</html>
